* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: hotpink;
}

.container {
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  min-width: 60vw;
  padding: 2.5rem;
  border-radius: 10px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.search-box input {
  width: 70%;
  border: none;
  border-bottom: 3px solid #ae9cff;
  padding: 0.4rem;
  outline: none;
  font-size: 1.3rem;
}

.search-box button {
  width: 25%;
  padding: 1rem;
  background-color: #ae9cff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
}

.result .word {
  display: flex;
  justify-content: space-between;
}

.result .word h3 {
  color: black;
  font-size: 2rem;
}

.result .word button {
  border: none;
  outline: none;
  color: #ae9cff;
  background-color: transparent;
  font-size: 1.2rem;
}

.result .details {
  display: flex;
  margin: 0.8rem 0 1.3rem;
  gap: 1rem;
  color: #b3b6d4;
  font-size: 14px;
}

.result .word-meaning {
  color: #575a7b;
}

.result .word-example {
  color: #575a7b;
  border-left: 5px solid #ae9cff;
  font-style: italic;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

.error {
  margin-top: 5rem;
  text-align: center;
  color: red;
}

@media (max-width: 750px) {
  .container {
    min-width: 90vw;
  }
}

@media (max-width: 600px) {
  .container {
    min-width: 95vw;
    padding: 2.5rem 1rem;
  }
  .search-box input {
    width: 70%;
    padding: 0.4rem;
    outline: none;
    font-size: 1rem;
  }
  .search-box button {
    width: 20%;
  }
}

@media (max-width: 400px) {
  .container {
    min-width: 95vw;
    padding: 2.5rem 1rem;
  }

  .search-box input {
    width: 65%;
    padding: 0.4rem;
    outline: none;
    font-size: 1rem;
  }
  .search-box button {
    width: 25%;
    padding: 0.6rem;
  }
}
